<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content Section-->
<body id="main">
    <main class="container" >
    <!-- <div class="jumbotron"> -->
      <h1 class="display-4"><%= title %> me </h1>

        <br><br>
        <div class="clearfix">
            <img src="./Assets/images/myphoto.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="my photo" style="width:300px;height:300px;" >

            <p class="fs-5">
                My name is <b><i>Venzon Ariola</b></i>, and I attend Centennial College as an international student from the Philippines now enrolled in the Software Engineering Technician programm. 
                I earned a diploma in <i>Computer System Design and Programming</i> back in 2008, but I was unable to put my studies into practice as I spent more than 11 years managing teams in the BPO industry. 
            </p>
                
            <p class="fs-5">
                I gained a foundational understanding of C, C++, Visual Foxpro, Visual Basic, CSS, and HTML in 2008. I've learned new skills in C#, JavaScript, Phyton, Java programming, 
                SQL database administration, MongoDB, nodejs, and express since I started studying Software Engineering.
            </p>

            <p class="fs-5">
                I've made the decision to return to school in order to switch careers and follow my interest in Programming and Web Application Development. 
                After I graduated, I wished to work as a full stack developer. I'm attaching a copy of my most recent résumé <a href="./Assets/myresume.pdf" target="_blank">here</a>.
            </p>
        </div>
        <!-- </div> -->
  </main>  


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>

