<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<body>
    <div class="container">
  <br />
  <div class="jumbotron">
    <font color="#263238">
  <h2><%= title %>Offered</h2>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="/Assets/images/image1.jpg" style="width:400px;height:228px;" />
        <br /><br />
     
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="Assets/images/image2.jpg" style="width:400px;height:228px;" />
        <br /><br />
       
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="Assets/images/image3.jpg" style="width:400px;height:228px;" />
        
        <br /><br />
       
        
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="Assets/images/image4.png" style="width:400px;height:228px;" />
        <br /><br />
        
        
      </div>
    </div>
    </font>
  </div>
  </div>
   
  </body>


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>